AI-Powered-Food-Ordering-Bot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [-368, 48],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [-160, 304],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [-16, 304],
      "name": "Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Bhim Restaurant\".\n\nFollow food-delivery style conversation.\n\n1. Ask for customer name\n2. Show complete menu\n3. Ask quantity\n4. Check inventory before confirming\n5. Store only confirmed orders\n6. Ask email and send confirmation mail\n\nReply in short Telegram-style messages."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [192, 48],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_URL",
        "sheetName": "Inventory"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4,
      "position": [192, 304],
      "name": "Inventory"
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_URL",
        "sheetName": "FAQ"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4,
      "position": [336, 304],
      "name": "FAQ"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_URL",
        "sheetName": "Orders"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4,
      "position": [496, 304],
      "name": "Orders"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', '', 'string') }}",
        "subject": "={{ $fromAI('Subject', '', 'string') }}",
        "message": "Order Confirmation from Bhim Restaurant"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2,
      "position": [640, 304],
      "name": "Send Gmail"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [592, 48],
      "name": "Telegram Send Message"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
